body {
    font-family: $primary_font;
}

p {
    font-size: $body_font_size;
}

h2 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: $secondary_font;
    font-weight: $font-weight-bold;
    @include breakpoint(sm) {
        font-size: 35px;
        margin-bottom: 50px;
    }
}

a {
    @include on-event {
        text-decoration: none;
    }
}
