$primary_font: Source Sans Pro, sans-serif;
$secondary_font: Oxygen, sans-serif;
$white: #fff;
$ice-blue: #e5f6f7;
$light-blue: #2EAFB0;
$blue: #5bc0de;
$purple: #7ac3e9;
$black: #000;
$pink: #ffcaca;
$gray-medium: #464545;
$gray: #4d4d4d;


//Font Weights
$font_weight_bold: 700;

//Typography
$body_font_size: 14px;
$body_color: $gray;
$text-shadow: 1px 3px 5px #4D4B4B;

//Spacing
$tile-spacing:20px;
